<div class="tab-pane fade show active" id="nav-ht" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item" style="background:#95a5a6;">Năm học</li>
                <li class="list-group-item">2018-2019</li>
            </ul>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="w-100"></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead style="background:#95a5a6" class="text-center">
                                    <tr>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col text-center">Học kỳ 1</div>
                                                <div class="col text-center">Học kỳ 2</div>
                                                <div class="col text-center">Cả năm</div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <th scope="col">TBCM</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col" class="border-right" style="border-color:#c8ced3">TBCM
                                                    </th>
                                                </div>
                                                <div class="col">
                                                    <th scope="col">TBCM</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col" class="border-right" style="border-color:#c8ced3">TBCM
                                                    </th>
                                                </div>
                                                <div class="col">
                                                    <th scope="col">TBCM</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col" class="border-right" style="border-color:#c8ced3">TBCM
                                                    </th>
                                                </div>
                                                <div class="col">
                                                    <th scope="col">TBCM</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col">HL</th>
                                                    <th scope="col" class="border-right" style="border-color:#c8ced3">TBCM
                                                    </th>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <th class="border" scope="row">1</th>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                        <td class="border">2</td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="row">
                <div class="col text-center p-0 pt-2 pb-2">
                    <button class="btn btn-primary">Học kỳ 1</button>
                    <button class="btn btn-primary">Học kỳ 2</button>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <table class="table  table-bordered">
                                <thead class="text-center border-0" style="background:#95a5a6">
                                    <tr>
                                        <th scope="col">Môn</th>
                                        <th scope="col">Miệng</th>
                                        <th scope="col">15 Phút</th>
                                        <th scope="col">Viết</th>
                                        <th scope="col">KTHK</th>
                                        <th scope="col">Điểm trung bình HK</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center ">
                                    <!-- Toán -->
                                    <tr>
                                        <th scope="row">Toán</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- Vật lý -->
                                    <tr>
                                        <th scope="row">Vật lý</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <!-- Tin hoc -->
                                    <tr>
                                        <th scope="row">Tin học</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- Địa lý -->
                                    <tr>
                                        <th scope="row">Địa lý</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- Tiếng anh -->
                                    <tr>
                                        <th scope="row">Tiếng anh</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- Gdcd -->
                                    <tr>
                                        <th scope="row">GDCD/th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- Cong nghe -->
                                    <tr>
                                        <th scope="row">Công nghệ</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- Thể dục -->
                                    <tr>
                                        <th scope="row">Thể dục</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                    <!-- QP AN -->
                                    <tr>
                                        <th scope="row">GDQP AN</th>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3    -->

        </div>

    </div>
</div>
<style lang="css">
    @media (min-width:992){
        .modal-lg {
          max-width: 1200px !important;
        }
      }
</style>