<div class="tab-pane fade show active" id="nav-sk" role="tabpanel" aria-labelledby="nav-about-tab">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <span>Năm học</span>
                </div>
                <div class="col-6">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2 d-flex align-items-center">
                    <span>Đợt khám</span>
                </div>
                <div class="col-6 d-flex ">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-primary">Xem</button>
        </div>
    </div>
    <!-- 3 -->
    <div class="row mt-2">
        <div class="col text-center" style="background:#95a5a6">
            <h4>Thông tin học sinh</h4>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="row">
                <div class="col-2 offset-1">Họ tên</div>
                <div class="col-2">Ngày sinh</div>
                <div class="col-2">Giới tính</div>
                <div class="col-2">Lớp</div>
            </div>
            <div class="row">
                <div class="col offset-1">Tiền sử bản thân</div>
            </div>
        </div>
    </div>
    <!-- 4 -->
    <div class="row">
        <div class="col text-center" style="background:#95a5a6">
            <h4>Thông tin sức khỏe</h4>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <div class="row mt-3 justify-content-center">
                <div class="col-6">
                    <table class="table table-bordered" style="border:1px solid black">
                        <tbody>
                            <tr>
                                <th>Thể lực</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Mắt</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Tai mũi họng</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Cột sống</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Răn hàm mặt</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Nội tổng quát</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Ngoại tổng quát</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Bệnh ngoài da</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Bệnh khác</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Đánh giá sức khỏe</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Đề nghị</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>